<% profiles.forEach(function(profile){ %>
    <div class="box">
        <%= profile.foto %> 
        <h3>Name</h3>
        <h2><%= profile.name %></h2>
        <h3>Quote</h3>
        <h2><%= profile.quote %></h2>        
        <h3>Age</h3>
        <h2><%= profile.age %></h2>
        <h3><%= profile.plaats %></h3>
    </div>
<% }); %>